Package: biglinux-wallpapers-and-icons
Version: 1.0.3-1big1
Depends:
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:18256
Description: Wallpapers and complementary icons


