Package: biglinux-wallpapers-and-icons
Version: 1.0.0-1big6
Depends:
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:12864
Description: Wallpapers and complementary icons


